/*
Neon Green: #6FFF00
Neon Pink: #FF00FF
Neon Yellow: #FFFF00
Neon Blue: #4D4DFF
Neon Red: #FE0001
Neon Orange: #FF4105
Neon Purple: #993CF3
*/

@font-face {
  font-family: 'comic';
  src: url('font/comic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	float: left;

	height:100%;
}

.page-container {
  width:100%;
}

#to-the-moon {
  float:right;
}

html {
	background: #1b1b1b;
}

* {
	box-sizing: border-box;
	font-family: 'Comic Sans MS', 'comic', sans-serif;
}

.button {
	float: left;
	margin: 0 auto;
	width: 100%;
	text-align: right;
	margin: 3em 0 0 0;
	color: black;
}

.button span {
	background: #FF4105;
    font-size:3.2em;
    padding:10px;
    line-height:1.4em;
    cursor:pointer;
}

.button span:hover {
    background:#FE0001;
}

#header {
	width: 100%;
	padding: 0 20px;
	float: left;
}

#header h1 {
	font-size: 2em;
	color: #FE0001;
	background: #1b1b1b;
	text-align: right;
	z-index: 10;
	float: right;
	padding: 10px;
	margin: 0;
}

#content {
	width: 55%;
	max-width: 900px;
	padding: 20px 20px 20px 20px;
	/*margin: 0 auto;*/
	float: right;
}

#content .img-container {
    width:100%;
    padding:15px;
    margin:15px;
    padding-bottom:5px;
    background:#333;
    position: relative;
}

#content .img-container img {
	width: 100%;
}

#content .img-container p {
    color:#FFF;
	text-align:center;
}

#content .img-container .social {
	position: absolute;
	bottom: 20px;
	right: 10px;
}

.ajmint-social-btn {
	color: #993CF3;
	cursor: pointer;
}

.ajmint-social-btn:hover {
	color: #4D4DFF;
}

.doge-phrase {
	position: fixed;
	z-index: -1;
}

#cutout-doge {
	position: fixed;
	bottom: 0;
	left: 10px;
	width: 45%;
	z-index: -1;
}

#intro-text {
	padding: 0 30px;
	float: right;
	color: #FF00FF;
}

#doge-loading-container {
	position: relative;
	width: 80%;
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
}

#doge-loading-container h1 {
	position: absolute;
	width: 100%;
	top: 30%;
	color: #FFFF00;
}

#doge-loading {
	width: 100%;
}

.doge-phrase.loading {
	color: #555 !important;
}


@media (max-width: 620px) {
	#header {
		background: #1b1b1b;
	}

	#header h1 {
		text-align: center;
	}

	#content {
		width: 100%;
	}

	#content .img-container {
		margin-left: 0;
		margin-right: 0;
	}

	#cutout-doge {
		position: relative;
		float: left;
		width: 100%;
		left: auto;
	}

	.button span {
		font-size: 2em;
		line-height: 2em;
	}

	#doge-loading-container {
		margin-top: 100px;
	}
}