/*
Neon Green: #6FFF00
Neon Pink: #FF00FF
Neon Yellow: #FFFF00
Neon Blue: #4D4DFF
Neon Red: #FE0001
Neon Orange: #FF4105
Neon Purple: #993CF3
*/


html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	float: left;
}

html {
	background: #1b1b1b;
}

* {
	box-sizing: border-box;
	font-family: 'Comic Sans MS', cursive;
}

.button {
	float: left;
	margin: 0 auto;
	width: 100%;
	text-align: right;
	margin: 3em 0 0 0;
	color: black;
}

.button span {
	background: #FF4105;
    font-size:3.2em;
    padding:10px;
    line-height:1.4em;
    cursor:pointer;
}

.button span:hover {
    background:#FE0001;
}

#header {
	width: 100%;
	padding: 0 20px;
	float: left;
}

#header h1 {
	font-size: 2em;
	color: #FE0001;
	background: #1b1b1b;
	text-align: right;
	z-index: 10;
	float: right;
	padding: 10px;
	margin: 0;
}

#content {
	width: 55%;
	max-width: 900px;
	padding: 20px 20px 20px 20px;
	/*margin: 0 auto;*/
	float: right;
}

#content .img-container {
    width:100%;
    padding:15px;
    margin:15px;
    padding-bottom:5px;
    background:#333;
}

#content .img-container img {
	width: 100%;
}

#content .img-container p {
    color:#FFF;
	text-align:center;
}

.doge-phrase {
	position: fixed;
	z-index: -1;
}

#cutout-doge {
	position: fixed;
	bottom: 0;
	left: 10px;
	width: 45%;
	z-index: -1;
}

#intro-text {
	padding: 0 30px;
	float: right;
	color: #FF00FF;
}

@media (max-width: 620px) {
	#header {
		background: #1b1b1b;
	}

	#header h1 {
		text-align: center;
	}

	#content {
		width: 100%;
	}

	#cutout-doge {
		position: relative;
		float: left;
		width: 100%;
		left: auto;
	}
}