<!DOCTYPE html>
<html>
  <head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1">
  	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width">
	<meta name="format-detection" content="telephone=no">

	<title>dogebomb: much bomb, very doge</title>

	<script src="//code.jquery.com/jquery-2.1.0.min.js"></script>
    <script src="{{STATIC_URL}}js/test.js"></script>
    <script src="{{STATIC_URL}}js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/ajmint-icons.css">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/ajmint-icons-animation.css">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/styles.css">
  </head>

  <body>
  	<div id="header">
  		<h1>dogebomb: much bomb, very doge</h1>
  	</div>
    {% block content %}
    {% endblock %}
  </body>

</html>
