{% extends "base.html" %}
{% load dogify %}


{% block content %}
<div class="page-container" id="index">
	<img id="cutout-doge" src="{{STATIC_URL}}imgs/doge-cutout.png" />
	<div id="content">
		{% for doge in dogify_images %}
		<div class="img-container">
		  <img src="{% if doge.image %}{{doge.image.url}}{% endif %}" />
		  <p>{{doge.comment|dogify_comment}}</p>
		  <div class="social">
		  	<span data-type="facebook" class="ajmint-social-btn"><span class="ajmint-icon-facebook"></span></span>
		  	<span data-type="twitter" class="ajmint-social-btn"><span class="ajmint-icon-twitter"></span></span>
		  	<span data-type="gplus" class="ajmint-social-btn"><span class="ajmint-icon-gplus"></span></span>
		  </div>
		</div>
		{% endfor %}
	</div>
</div>
<div class="footer">
	<a href="https://www.dogeapi.com/checkout?payment_address=D797ndyRPvKke2Dr4qFDtFckExpHjwtgp6&widget_key=gd4tcwkyptug3wd0541ul6bfm&payment_label=so+doge" target="_blank"><span class="button">
	<span>dogecoin. much donate</span>
</span></a>
	<div class="madeby">very <a href="https://twitter.com/systemizer" target="_blank">@systemizer</a>, so <a href="https://twitter.com/joannaskao" target="_blank">@joannaskao</a></div>
</div>
{% endblock %}
